/cmake-build-debug/Testing/
/cmake-build-debug/Testing/*
/cmake-build-debug/Testing/*/
/cmake-build-debug/Testing/Temporary/
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/Testing/Temporary/*
/.cache/
/.fleet/run.json
/.cache/jb/UpdateWork.dat
/.idea/vcs.xml
/.cache/jb/version.txt
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/CMakeFiles/3.28.1/
/cmake-build-debug/CMakeFiles/Stratos_X.dir/
/cmake-build-debug/CMakeFiles/pkgRedirects/
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/.cmake/api/
/test_run.exe
/cmake-build-debug/compile_commands.json
/.idea/
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/.cmake/
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
